@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
  }
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
@theme {
  --font-seasons: "The Seasons", serif;
  --color-darkblack: #04080F;
  --color-darkblue: #507DBC;
  --color-medblue: #A1C6EA;
  --color-lightblue: #BBD1EA;
  --color-gray: #DAE3E5;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}